@model IEnumerable<educa_tube_code.Models.Video>

@{
    ViewData["Title"] = "Home";
}

@if (Model != null && Model.Any())
{
    <div>
        @foreach (var video in Model)
        {
            <div>
                <h3>@video.Titulo</h3>
                <img src="@video.ThumbnailUrl" alt="@video.Titulo" />
                <p>@video.Descricao</p>
                <a asp-action="Watch" asp-route-videoId="@video.VideoId">Watch Video</a>
            </div>
        }
    </div>
}
else
{
@*     <p>No videos found.</p> *@
}
