@model IEnumerable<educa_tube_code.Models.Video>
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" type="text/css" href="~/css/HomeStyle/Home.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

@if (Model != null && Model.Any())
{
    <div class="listVideo">
        @foreach (var video in Model)
        {
            <a asp-action="Watch" asp-route-videoId="@video.VideoId">
                <div class="videoCard">
                    <div class="divThumb">
                        <img class="thumbImg" src="@video.ThumbnailUrl" alt="@video.Titulo" />
                    </div>

                    <div class="footerCard">
                        <p class="vidTitle">@video.Titulo</p>

                        <div class="videoInfo">
                            <p><i class="bi bi-eye-fill"></i> &nbsp; @video.ViewCount</p>
                            <p><i class="bi bi-hand-thumbs-up-fill"></i> &nbsp; @video.LikeCount</p>
                            <p class="videoDate">@video.DatePublished.ToString("dd/MM/yyyy")</p>
                        </div>

                        <div class="divChannel">
                            <img class="channelImg" src="@video.ChannelThumbnailUrl" alt="Foto do canal" />
                            <p>@video.ChannelTitle</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
}
else
{
    <div class="container1">
        <div>
            <div class="banner1">
                <span class="bannerText"> Descubra um novo jeito de aprender! </span>
                <img class="bannerImg" src="https://i.imgur.com/dFJHNxw.png" />
            </div>
        </div>

        <div>
            <div class="banner2">
                <span class="bannerText"> Conheça o projeto </span>
                <a href="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2024-1-e2-proj-int-t4-educatube"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>

    <div class="container2">

    </div>
}
